<div class="books">
  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="active item">
        <%for i in 0..2%>
          <%if @books[i]%>
            <a href="<%=book_path(@books[i])%>"><div class="book_item"><%=image_tag @books[i].cover%></div></a>
          <%else%>
            <div class="book_item"><%=image_tag 'test.jpg'%></div>
          <%end%>
        <%end%>
      </div>
      <div class="item">
        <%for i in 3..5%>
          <%if @books[i]%>
            <a href="<%=book_path(@books[i])%>"><div class="book_item"><%=image_tag @books[i].cover%></div></a>
          <%else%>
            <div class="book_item"><%=image_tag 'test.jpg'%></div>
          <%end%>
        <%end%>
      </div>
      <div class="item">
        <%for i in 6..8%>
          <%if @books[i]%>
            <a href="<%=book_path(@books[i])%>"><div class="book_item"><%=image_tag @books[i].cover%></div></a>
          <%else%>
            <div class="book_item"><%=image_tag 'test.jpg'%></div>
          <%end%>
        <%end%>
      </div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>

<div class="row-fluid">
  <div class="span4 border">
    <div class="row-fluid" style="border-bottom:1px solid #CECECE">
      <div class="span10" style="padding-left:10px"><h3>最新动态</h3></div>
      <div class="span2" style="padding-top:20px"><%=link_to "more",news_index_path%></div>
    </div>
    <div class="row-fluid">
      <div class="span12">
	<ul>
          <% @news.each do |n| %>
	    <li>
	      <%= link_to n.title, news_path(n) %>
              <% if n.posttime.year == Time.now.year && n.posttime.month == Time.now.month && Time.now.day-n.posttime.day <= 3 %>
	        <%=image_tag 'new.png'%>
	      <%end%>
	    </li>
          <% end %>
        </ul>
      </div>
      <div><%= paginate @news, :param_name => :news_page %></div>
    </div>
  </div>
  
  <div class="span4 border">
    <div class="row-fluid" style="border-bottom:1px solid #CECECE">
      <div class="span10" style="padding-left:10px"><h3>重要公告</h3></div>
      <div class="span2" style="padding-top:20px"><%=link_to "more",notices_path%></div>
    </div>
    <div class="row-fluid">
      <div class="span12">
	<ul>
          <%@notices.each do |n|%>
	    <li>
	      <%=link_to n.title, notice_path(n)%>
	      <%if n.posttime.year == Time.now.year && n.posttime.month == Time.now.month && Time.now.day-n.posttime.day <= 3 %>
	        <%=image_tag 'new.png'%>
	      <%end%>
	    </li>
          <% end %>
        </ul>
      </div>
      <div><%= paginate @notices, :param_name => :notices_page %></div>
    </div>
  </div>
 
  <div class="span4 border">
    <div class="row-fluid" style="border-bottom:1px solid #CECECE">
      <div class="span10" style="padding-left:10px"><h3>经销商信息</h3></div>
      <div class="span2" style="padding-top:20px"><%=link_to "more",distributions_path%></div>
    </div>
    <div class="row-fluid">
      <div class="span12"><ul>
      <%@distributions.each do |d|%>
	<li>
	  <%=link_to d.title, distribution_path(d)%>
	  <%if d.posttime.year == Time.now.year && d.posttime.month == Time.now.month && Time.now.day-d.posttime.day <= 3 %>
	    <%=image_tag 'new.png'%>
	  <%end%>
	</li>
      <% end %>
  </ul></div>
  <div><%= paginate @distributions, :param_name => :dis_page %></div>
    </div>
  </div>
</div>

