<%= render :partial => "books" %>
<div class="row-fluid">
  <div class="span4 pull-left">
      <%= render :partial => "columns" %>
      <%= render :partial => "notices" %>
  </div>
  <div class="span4 pull-left">
    <%= render :partial => "news" %>
  </div>
  <div class="span4 pull-left">
    <%= render :partial => "distributions" %>
  </div>
</div>




