<%= form_for @book, :html => {:multipart => true} do |f| %>
  <% if @book.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label '标题' %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label '价格'%><br>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label '封面' %><br>
    <%= f.file_field :cover %>
  </p>
  <p>
    <%= f.label '内容' %><br>
    <%= f.kindeditor :body %>
  </p>
 
  <p>
    <%= f.submit '提交'%>
  </p>
<% end %>
 
<%= link_to '返回', admin_root_path %>
