<div class="row">
  <%@books.each do |b|%>
    <div class="item-line pull-left">
      <%=link_to image_tag(b.cover),book_path(b)%><br>
      <%=link_to b.title,book_path(b)%><br>
      <%= number_to_currency(b.price,:unit => '¥')%><%=link_to '放入购物车','#',:class=>'btn-cart btn btn-success'%>
    </div>
  <% end %>
  <div><%= paginate @books,:left => 3, :right => 1 %></div>
</div>
