<div class="orders-board">
  <div class="orders-nav">
    <div class="orders-nav-items">
      <ul>
        <li class="<%= orders-selected if params[type] == "book" %>">
          <a href="#">
            <div class="orders-nav-item">
              <div class="image"><%= image_tag "orders-book.png" %></div>
              <div class="title">书籍</div>
            </div>
          </a>
        </li>
        <li class="<%= orders-selected if params[type] == "brochure" %>">
          <a href="#">
            <div class="orders-nav-item">
              <div class="image"><%= image_tag "orders-xuanchuance.png" %></div>
              <div class="title">宣传册</div>
            </div>
          </a>
        </li>
        <li class="<%= orders-selected if params[type] == "magazine" %>">
          <a href="#">
            <div class="orders-nav-item">
              <div class="image"><%= image_tag "orders-magazine.png" %></div>
              <div class="title">杂志</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="orders-detail">
    <form style="position:relative">
      <div class="orders-list">
        <div class="overview">
          <div class="overview-content">
            <div>请选择您要的产品细节</div>
          </div>
        </div>

        <dl class="feature-list">
          <dt>
            <a href="#" class="orders-toggle">书籍类型</a>
          </dt>
          <dd>
            <div class="features">
              <div class="feature">
                <div class="feature-content"></div>
              </div>
            </div>
          </dd>
        </dl>
      </div>
    </form>
  </div>
</div>
