<ul class="nav">
  <li>
    <%= link_to '首页', root_path%>
  </li>
  <li>
    <%= link_to ' 行业新闻', news_index_path %>
  </li>
  <li>
    <%= link_to '元法动态', notices_path %>
  </li>
  <li>
    <%= link_to '业务信息', distributions_path %>
  </li>
  <li>
    <%= link_to '淘宝商店', "http://shop108248613.taobao.com/", target: "_blank" %>
  </li>
  <li>
    <%= link_to '产品橱窗', books_path %>
  </li>
  <li>
    <%= link_to '专栏编辑', editors_path %>
  </li>
  <li>
    <%= link_to '文字外包', outsourcing_index_path %>
  </li>
  <li>
    <%= link_to '关于我们',statics_path %>
  </li>
  <!--<li>
  <%= link_to '元法论坛', 'http://bbs.zgzfts.com',{:style=>'color:red;',:target =>'_blank'} %>
  </li>
  -->
</ul>
<% if controller_name == 'books'%>
  <ul class="nav pull-right">
    <li><a href='#'><%=image_tag 'cart.png',:class => 'cart'%>购物车</a></li>
  </ul>
<% end %>
