<ul class="nav">
  <li>
    <%= link_to '首页', root_path%>
  </li>
  <li>
    <%= link_to '新闻', news_index_path %>
  </li>
  <li>
    <%= link_to '公告', notices_path %>
  </li>
  <li>
    <%= link_to '经销商信息', distributions_path %>
  </li>
  <li>
    <%= link_to '产品橱窗',books_path %>
  </li>
  <li>
    <%= link_to '关于我们',statics_path %>
  </li>
</ul>
