<!DOCTYPE html>
<html>
<head>
  <title>中国政府图书网</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topimg"><%=image_tag "top.jpg"%></div>
<div class="navbar">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <div  style="display:none" class="alert alert-<%= name == :notice ? "success" : "error" %>">
                <a class="close" data-dismiss="alert">&#215;</a>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </nav>
</div>
<div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= yield %>
            </div>
          </div>
	  <footer>
	    <%= render 'layouts/footer'%>
          </footer>
	</div>
	<%= render 'layouts/contact'%>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
</body>
</html>
