<!DOCTYPE html>
<html>
<head>
  <title>中国政府图书网</title>
  <meta name="description" content="元法编辑部，杭州网视文化传播有限公司承接印刷业务，编辑出版业务，文字外包业务，常年招聘文字工作者，数字出版电子书籍" />
  <meta name="keywords" content="书籍出版,文化有限公司,文字外包,招聘文字编辑,广告,印刷,电子书,数字出版">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topimg"><%=image_tag "top.jpg"%></div>
<div class="navbar">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <div  style="display:none" class="alert alert-<%= name == :notice ? "success" : "error" %>">
                <a class="close" data-dismiss="alert">&#215;</a>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </nav>
</div>
<div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= yield %>
            </div>
          </div>
	  <footer>
	    <%= render 'layouts/footer'%>
          </footer>
	</div>
	<%= render 'layouts/contact'%>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <%= javascript_include_tag "application" %>
</body>
</html>
