<!DOCTYPE html>
<html>
<head>
  <title>中国政府图书网</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div><%=image_tag "top.jpg"%></div>
<div class="navbar">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
                <a class="close" data-dismiss="alert">&#215;</a>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </nav>
</div>
<div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= yield %>
            </div>
          </div>
          <footer>
            <div><%=link_to '关于我们',statics_path%> | <a href="<%=statics_path%>#tab2" >联系我们</a> | <a href="<%=statics_path%>#tab2" >业务合作</a>  </div>
            <div>浙ICP备11041017号-2</div>
            <div><a href="http://www.miitbeian.gov.cn/">http://www.miitbeian.gov.cn/</a></div>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
</body>
</html>
